[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/cppSpice"]
	path = extern/cppSpice
	url = https://github.com/tomreddell/cppSpice
